<%- include('partials/header'); -%>
<img class="image1" src="/image/image1.jpg">
<p class="quote">                "happiness can be found even in the darkest of times, if only one remembers to turn on the light."</p>
